---

import Layout from '../layouts/Layout.astro';
import { projectsData } from '../components/projectsData.js';
import '../components/Projects.css';

---

<Layout title="Projects - wdias.dev">
  <main class="projects">
    <h1>Projects</h1>
    <p>Here are some of my personal projects.</p>

    <div class="projects_list">
      {projectsData.map((item) => (
        <div class="project_item">
          <a href={item.link}>
            <div class="project_item_description">
              <div class="project_item_description_left">
                <h3>{item.title}</h3>
                <p>{item.description}</p>
              </div>
              {/*{item.img !== "" &&
                <div class="project_item_description_right">
                  <img
                    src={item.img}
                    alt={item.imgAlt}
                    width={item.imgWidth}
                    height={item.imgHeight}
                    loading="lazy"
                  />
                </div>
              }*/}
            </div>
          </a>
        </div>
      ))}
    </div>
  </main>
</Layout>
